<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/register.css">

    <!-- fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <div class="hdr-contenedor">
            <div class="searchBar">
                <div class="searchBar-logo">
                    <!-- logo -->
                    <a href="/"><img class="logo" src="img/logo-mercado-liebre.svg" alt="Logo de Tu Sitio"></a>
                </div>
                <div class="searchBar-form">
                    <!-- form buscar -->
                    <form action="" class="formbuscar">
                        <input type="text" placeholder="Buscar...">
                        <button class="btn-inline searchlupa" type="submit"><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </div>
            </div>
            <div class="searchBar-compracuotas">
                <!-- compra en cuotas -->
                <p class="hdr-texto"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
                    tarjeta de crédito</p>
            </div>
        </div>

        <div class="navBar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a> <i class="fa-solid fa-id-card"></i></li>
                <li><a href="#">Ingresá</a> <i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </div>
        <!-- <div class="loginBar">
            
        </div> -->
        <div class="burger-menuBar">
            <div class="burger-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>
    <main>
        <h2 class="titulares">Registro de Usuarios</h2>
        <div class="container">
        <form class="frm-registro" action="#" method="post" enctype="multipart/form-data">
            <label for="nombre">Nombre y Apellido:</label>
            <input type="text" id="nombre" name="nombre" required>

            <label for="usuario">Nombre de usuari@:</label>
            <input type="text" id="usuario" name="usuario" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="fechaNacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>

            <label for="domicilio">Domicilio:</label>
            <textarea id="domicilio" name="domicilio" required></textarea>

            <label for="perfil">Perfil del usuario:</label>
            <select id="perfil" name="perfil" required>
                <option value="comprar">Comprar</option>
                <option value="vender">Vender</option>
            </select>

            <label>Categorías de interés:</label>
            <input type="checkbox" id="electro" name="interes[]" value="electro">
            <label for="electro">Electro</label>

            <input type="checkbox" id="moda" name="interes[]" value="moda">
            <label for="moda">Moda</label>

            <input type="checkbox" id="hogar" name="interes[]" value="hogar">
            <label for="hogar">Hogar</label>

            <input type="checkbox" id="jugueteria" name="interes[]" value="jugueteria">
            <label for="jugueteria">Juguetería</label>

            <input type="checkbox" id="vidaSana" name="interes[]" value="vidaSana">
            <label for="vidaSana">Vida Sana</label>

            <label for="foto">Foto de usuario:</label>
            <input type="file" id="foto" name="foto" accept="image/*">

            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required>

            <label for="confirmarContrasena">Confirmar Contraseña:</label>
            <input type="password" id="confirmarContrasena" name="confirmarContrasena" required>

            <button type="submit">Enviar</button>
            <button type="reset">Borrar datos</button>
        </form>
        </div>
    </main>
    <footer>
        <div class="divFooter-contenedor">
            <div class="divFooter">
                <div class="iconFooter"><i class="fa-solid fa-credit-card"></i></div>
                <div class="textFooter">
                    <h3>Pagá con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                        siempre es seguro!</p>
                </div>
            </div>
            <div class="divFooter">
                <div class="iconFooter"><i class="fa-solid fa-gift"></i></div>
                <div class="textFooter">
                    <h3>Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
                        beneficio de Mercado Puntos.</p>
                </div>
            </div>
            <div class="divFooter">
                <div class="iconFooter"><i class="fa-solid fa-user-shield"></i></div>
                <div class="textFooter">
                    <h3>Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                        siempre
                        protegido.</p>

                </div>
            </div>
        </div>

        <div class="divFooter">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>

    </footer>
</body>

</html>